*~
*.pyc
/doc/_build/
*.kate-swp
/.pylintrc
*.old
.dropbox
*.sublime-project
*.sublime-workspace
*.pyo
nohup.out
/example/2sectors/result/
/example/one_household_one_firm/result/
/template/result/
/unittest/result/
*.class
*.db
