include README.rst        
include abcEconomics/contracts/*        
include unittest/*        
include abcEconomics/agents/*        
include abcEconomics/gui/*
include abcEconomics/logger/*
include abcEconomics/scheduler/*
