<!doctype html>
<html lang="en">
<head>
  <title>ABCE Agent-Based Computational Economics Platform</title>
  <link rel="stylesheet" href="./static/material.min.css">
  <script src="./static/material.min.js"></script>
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
  {{ js_resources | safe}}
  {{ css_resources | safe}}
  {{ script | safe}}
  <style>
  .mdl-card--expand
  {
    width: 100%;
  }
  .xpand
  {
    width: 100%;
    height: 100%;
  }
  .middle
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .minimized
  {
    max-height: 30px;
  }
  </style>

</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">ABCE Agent-Based Computational Economics Platform</span>
      <!-- Add spacer, to align navigation to the right -->
    </div>
    <div class="mdl-layout__header-row">
      <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/" class="mdl-layout__tab is-active">New Simulation</a>
          <a class="mdl-navigation__link" href="show_simulation" class="mdl-layout__tab">Results</a>
          <a class="mdl-navigation__link" href="older_results" class="mdl-layout__tab">Older Results</a>
        </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      {% block body %}{% endblock %}
    </div>
  </main>
</body>
</html>
