{% extends "layout.html" %}
{% block body %}
  <div class="mdl-cell mdl-cell--6-col" id="description" style="height: 200px;">
    <div class="mdl-card mdl-card--expand mdl-card--limited_height mdl-shadow--4dp">
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
           onclick="raise_description()">
          Expand Description
        </a>
      </div>
      <div class="mdl-card__supporting-text">
        <pre>{{ desc |safe}}</pre>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col" id="graphs">
    <div class="mdl-card mdl-card--expand mdl-shadow--4dp">
      <div class="mdl-card__supporting-text">
          {{ graphs_div|safe }}
      </div>
    </div>
  </div>

<script type="text/javascript">

function raise_description() {
       var xDiv = document.getElementById('description');

       if (xDiv.style.height != '') {
           xDiv.style.height = '';}
       else {
           xDiv.style.height = '200px';}
       window.location.hash = 'description';
}

</script>

{% endblock %}
