{% extends "layout.html" %}
{% block body %}
  <div class="mdl-cell mdl-cell--6-col" id="setup">
    <div class="mdl-card mdl-card--expand mdl-shadow--4dp">
      <div class="mdl-card__supporting-text">
          {{ setup | safe }}
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col" id="description" style="height: 200px;">
    <div class="mdl-card mdl-card--expand mdl-card--limited_height mdl-shadow--4dp">
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
           onclick="raise_description()">
          Expand Description
        </a>
      </div>
      <div class="mdl-card__supporting-text">
        <pre>{{ desc |safe}}</pre>
      </div>
    </div>
  </div>
  {% for entry in entries %}
  <div class="mdl-cell mdl-cell--4-col" id="{{ entry['title']|safe }}graphbox">
    <div class="mdl-card mdl-card--expand mdl-shadow--4dp">
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
           onclick="minimize('{{ entry['title']|safe }}graphbox', '{{ entry['title']|safe }}title')">
          Min
        </a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
           onclick="raise_window('{{ entry['title']|safe }}graphbox', '{{ entry['idname']|safe }}')">
          Zoom
        </a>
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
          {{ entry['graph'] | safe }}
      </div>
    </div>
  </div>
  {% else %}
    <em>No entries have you put 'aggregate' or 'panel' into the action list?</em>
  {% endfor %}
  <div class="mdl-cell mdl-cell--12-col">
  </div>
  {% for entry in entries %}
  <div class="mdl-cell mdl-cell--2-col minimized" style="display: none;" id="{{ entry['title']|safe }}title" onclick="maximize('{{ entry['title']|safe }}graphbox', '{{ entry['title']|safe }}title')">
    <div class="mdl-card mdl-card--expand mdl-shadow--4dp minimized">
      <div class="mdl-card__actions mdl-card--title minimized" onclick="maximize('{{ entry['title']|safe }}graphbox', '{{ entry['title']|safe }}title')">
          {{ entry['title'] | safe }}
      </div>
    </div>
  </div>
  {% else %}
    <em>No entries have you put 'aggregate' or 'panel' into the action list?</em>
  {% endfor %}

<script type="text/javascript">
function raise_window(idname, id_graph) {
       var xDiv = document.getElementById(idname);
       var currentClass = xDiv.className;
       if (currentClass == "mdl-cell mdl-cell--4-col") {
          xDiv.className = "mdl-cell mdl-cell--12-col";
       } else {
          xDiv.className = "mdl-cell mdl-cell--4-col";
       }
       var plot = Bokeh.index[id_graph];
       plot.resize_width_height(true, false, false);
       window.location.hash = idname;
}
function raise_description() {
       var xDiv = document.getElementById('description');

       if (xDiv.style.height != '') {
           xDiv.style.height = '';}
       else {
           xDiv.style.height = '200px';}
       window.location.hash = 'description';
}
function minimize(id_box, id_title) {
       var box = document.getElementById(id_box);
       var title = document.getElementById(id_title)

       title.style.display="inline";
       box.style.display="none";

       document.cookie = id_box + "," + id_title + "=minimize; Expires=Wed, 09 Jun 2037 10:18:14 GMT";
}
function maximize(id_box, id_title) {
       var box = document.getElementById(id_box);
       var title = document.getElementById(id_title)

       title.style.display="none";
       box.style.display="inline";

       document.cookie = id_box + "," + id_title + "=full";
       window.location.hash = id_box;}

window.onload = function getCookie()
{
    var keyValuePairs = document.cookie.split(/; */);
    for(var i = 0; i < keyValuePairs.length; i++)
    {
        var id_box = keyValuePairs[i].substring(0, keyValuePairs[i].indexOf(','));
        var id_title = keyValuePairs[i].substring(keyValuePairs[i].indexOf(',') + 1, keyValuePairs[i].indexOf('='));
        var value = keyValuePairs[i].substring(keyValuePairs[i].indexOf('=') + 1);
        if (value == "minimize")
        {
            try
            {
                minimize(id_box, id_title);
            } catch(e) {
                document.cookie = id_box + "," + id_title + "=full";
            };
        }
    }
}

function change_text_field(x, text_field_name) {
    document.getElementById(text_field_name).value = x;}

function change_slider_field(x, slider_field_name) {
    document.getElementById(slider_field_name).MaterialSlider.change(x);}

</script>

{% endblock %}
